root = true

# Code files
[*.cs]
dotnet_diagnostic.IDE0005.severity = warning
dotnet_diagnostic.IDE0055.severity = warning
dotnet_sort_system_directives_first = true
indent_size = 4
indent_style = space

# Analysers
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA2211.severity = none
dotnet_diagnostic.CS3021.severity = none
dotnet_diagnostic.IDE0200.severity = none
dotnet_diagnostic.IDE0290.severity = none

# API Surfaces
dotnet_code_quality.CA1822.api_surface = private, internal

# Style
dotnet_analyzer_diagnostic.category-Style.severity = none